/*=================================================
replace below code to fast change the template color

[red]
#ED1F24 = main color
234, 68, 82 - fade color

[blue]
#44abea = main color
68, 171, 234 - fade color

[green]
#44ead7 = main color
68, 234, 215 - fade color

[purple]
#8744ea = main color
135, 68, 234 - fade color

[brown]
#9d7f48 = main color
157, 127, 72 - fade color

[pink]
#ff438a = main color
255, 67, 138 - fade color
=================================================*/
#loader,
#subscribe {
  /* loader background */
  background-color: #1a1a1a;
}
#site-wrap {
  /* border width and color */
  border-width: 20px;
  border-color: #ffffff;
}
/* overlay */
#overlay {
  background-color: #2e3751;
  opacity: 0.65;
}
.gradient1.gradient #overlay {
  /* gradient1 [#7f46f2] [#00ed96] */
  background: #2e3751;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjN2Y0NmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwZWQ5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #7f46f2 0%, #00ed96 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #7f46f2), color-stop(100%, #00ed96));
  background: -webkit-linear-gradient(-45deg, #7f46f2 0%, #00ed96 100%);
  background: -o-linear-gradient(-45deg, #7f46f2 0%, #00ed96 100%);
  background: -ms-linear-gradient(-45deg, #7f46f2 0%, #00ed96 100%);
  background: linear-gradient(135deg, #7f46f2 0%, #00ed96 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f46f2', endColorstr='#00ed96', GradientType=1);
}
.gradient2.gradient #overlay {
  /* gradient2 [#25c8f9] [#ff0048] */
  background: #2e3751;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjVjOGY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMDA0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #25c8f9 0%, #ff0048 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #25c8f9), color-stop(100%, #ff0048));
  background: -webkit-linear-gradient(-45deg, #25c8f9 0%, #ff0048 100%);
  background: -o-linear-gradient(-45deg, #25c8f9 0%, #ff0048 100%);
  background: -ms-linear-gradient(-45deg, #25c8f9 0%, #ff0048 100%);
  background: linear-gradient(135deg, #25c8f9 0%, #ff0048 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25c8f9', endColorstr='#ff0048', GradientType=1);
}
.gradient3.gradient #overlay {
  /* gradient3 [#ff3d3d] [#3300ff] */
  background: #2e3751;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmYzZDNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMDBmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #ff3d3d 0%, #3300ff 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ff3d3d), color-stop(100%, #3300ff));
  background: -webkit-linear-gradient(-45deg, #ff3d3d 0%, #3300ff 100%);
  background: -o-linear-gradient(-45deg, #ff3d3d 0%, #3300ff 100%);
  background: -ms-linear-gradient(-45deg, #ff3d3d 0%, #3300ff 100%);
  background: linear-gradient(135deg, #ff3d3d 0%, #3300ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d3d', endColorstr='#3300ff', GradientType=1);
}
.menu {
  /* menu background */
  background-color: rgba(26, 26, 26, 0.85);
}
.countdown-amount,
.countdown-period {
  /* countdown text */
  color: rgba(255, 255, 255, 0.15);
}

/*==================================================
 * default
==================================================*/
.default .color {
  /* main color */
  color: #ffffff;
}
.default a:hover,
.default a:focus {
  /* link hover, focus */
  color: #dddddd;
}
.default .btn-theme {
  /* button */
  color: #010101;
  background-color: #ffffff;
  border-color: #ffffff;
}
.default .btn-theme:active,
.default .btn-theme.active,
.default .btn-theme:focus,
.default .btn-theme.focus,
.default .btn-theme:hover {
  color: #010101;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.default .btn-theme.btn-outline1 {
  /* button */
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.default .btn-theme.btn-outline1:active,
.default .btn-theme.btn-outline1.active,
.default .btn-theme.btn-outline1:focus,
.default .btn-theme.btn-outline1.focus,
.default .btn-theme.btn-outline1:hover {
  color: #010101;
  background-color: #ffffff;
  border-color: #ffffff;
}
.default .btn-theme.btn-outline2 {
  /* button */
  color: #010101;
  background-color: #ffffff;
  border-color: #ffffff;
}
.default .btn-theme.btn-outline2:active,
.default .btn-theme.btn-outline2.active,
.default .btn-theme.btn-outline2:focus,
.default .btn-theme.btn-outline2.focus,
.default .btn-theme.btn-outline2:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.default .section-title:after {
  /* section title underline */
  background-color: #ffffff;
}
.default .progress {
  /* skill bar */
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.75);
  color: #010101;
}
.default .progress-bar {
  /* skill bar */
  background-color: #ffffff;
}
.default .progress-bar h4 {
  /* skill bar title */
  color: #010101;
}
.default .services-grid-content {
  /* services */
  background-color: rgba(255, 255, 255, 0.95);
}
.default .services-grid-content h3,
.default .services-grid-content p {
  /* services title and content */
  color: #1a1a1a;
}
.default .bfc-toggle-flat:checked + .bfc-toggle-btn {
  /* countdown toggle */
  border-color: #ffffff;
}
.default .bfc-toggle-flat:checked + .bfc-toggle-btn:after {
  /* countdown toggle */
  background-color: #ffffff;
}
.default .slick-dots li button:before,
.default .slick-prev:before,
.default .slick-next:before {
  /* slider dots and arrow */
  color: #1a1a1a;
}
.default .slick-dots li.slick-active button:before {
  /* slider dots and arrow */
  opacity: .75;
  color: #1a1a1a;
}
.default .social-ul a {
  /* social icon color */
  background-color: #fff;
  color: #010101;
}
.default .social-ul a:hover,
.default .social-ul a:focus {
  color: #fff;
  background-color: transparent;
}
/*==================================================
 * red
 #ED1F24 = main color
 234, 68, 82 - fade color
==================================================*/
.red .color {
  /* main color */
  color: #ED1F24;
}
.red a:hover,
.red a:focus {
  /* link hover, focus */
  color: #ED1F24;
}
.red .btn-theme {
  /* button */
  color: #ffffff;
  background-color: #ED1F24;
  border-color: #ED1F24;
}
.red .btn-theme:active,
.red .btn-theme.active,
.red .btn-theme:focus,
.red .btn-theme.focus,
.red .btn-theme:hover {
  color: #ffffff;
  background-color: #e72d3d;
  border-color: #e72d3d;
}
.red .btn-theme.btn-outline1 {
  /* button */
  color: #ED1F24;
  background-color: transparent;
  border-color: #ED1F24;
}
.red .btn-theme.btn-outline1:active,
.red .btn-theme.btn-outline1.active,
.red .btn-theme.btn-outline1:focus,
.red .btn-theme.btn-outline1.focus,
.red .btn-theme.btn-outline1:hover {
  color: #ffffff;
  background-color: #ED1F24;
  border-color: #ED1F24;
}
.red .btn-theme.btn-outline2 {
  /* button */
  color: #ffffff;
  background-color: #ED1F24;
  border-color: #ED1F24;
}
.red .btn-theme.btn-outline2:active,
.red .btn-theme.btn-outline2.active,
.red .btn-theme.btn-outline2:focus,
.red .btn-theme.btn-outline2.focus,
.red .btn-theme.btn-outline2:hover {
  color: #ED1F24;
  background-color: transparent;
  border-color: #ED1F24;
}
.red .section-title:after {
  /* section title underline */
  background-color: #ED1F24;
}
.red .progress {
  /* skill bar */
  background-color: rgba(234, 68, 82, 0.15);
  border-color: rgba(234, 68, 82, 0.75);
}
.red .progress-bar {
  /* skill bar */
  background-color: #ED1F24;
}
.red .services-grid-content {
  /* services */
  background-color: rgba(234, 68, 82, 0.75);
}
.red .bfc-toggle-flat:checked + .bfc-toggle-btn {
  /* countdown toggle */
  border-color: #ED1F24;
}
.red .bfc-toggle-flat:checked + .bfc-toggle-btn:after {
  /* countdown toggle */
  background-color: #ED1F24;
}
.red .social-ul a {
  /* social icon color */
  background-color: #ED1F24;
}
.red .social-ul a:hover,
.red .social-ul a:focus {
  color: #fff;
  background-color: transparent;
}
/*==================================================
 * blue
 #44abea = main color
 68, 171, 234 - fade color
==================================================*/
.blue .color {
  /* main color */
  color: #44abea;
}
.blue a:hover,
.blue a:focus {
  /* link hover, focus */
  color: #44abea;
}
.blue .btn-theme {
  /* button */
  color: #ffffff;
  background-color: #44abea;
  border-color: #44abea;
}
.blue .btn-theme:active,
.blue .btn-theme.active,
.blue .btn-theme:focus,
.blue .btn-theme.focus,
.blue .btn-theme:hover {
  color: #ffffff;
  background-color: #2da1e7;
  border-color: #2da1e7;
}
.blue .btn-theme.btn-outline1 {
  /* button */
  color: #44abea;
  background-color: transparent;
  border-color: #44abea;
}
.blue .btn-theme.btn-outline1:active,
.blue .btn-theme.btn-outline1.active,
.blue .btn-theme.btn-outline1:focus,
.blue .btn-theme.btn-outline1.focus,
.blue .btn-theme.btn-outline1:hover {
  color: #ffffff;
  background-color: #44abea;
  border-color: #44abea;
}
.blue .btn-theme.btn-outline2 {
  /* button */
  color: #ffffff;
  background-color: #44abea;
  border-color: #44abea;
}
.blue .btn-theme.btn-outline2:active,
.blue .btn-theme.btn-outline2.active,
.blue .btn-theme.btn-outline2:focus,
.blue .btn-theme.btn-outline2.focus,
.blue .btn-theme.btn-outline2:hover {
  color: #44abea;
  background-color: transparent;
  border-color: #44abea;
}
.blue .section-title:after {
  /* section title underline */
  background-color: #44abea;
}
.blue .progress {
  /* skill bar */
  background-color: rgba(68, 171, 234, 0.15);
  border-color: rgba(68, 171, 234, 0.75);
}
.blue .progress-bar {
  /* skill bar */
  background-color: #44abea;
}
.blue .services-grid-content {
  /* services */
  background-color: rgba(68, 171, 234, 0.75);
}
.blue .bfc-toggle-flat:checked + .bfc-toggle-btn {
  /* countdown toggle */
  border-color: #44abea;
}
.blue .bfc-toggle-flat:checked + .bfc-toggle-btn:after {
  /* countdown toggle */
  background-color: #44abea;
}
.blue .social-ul a {
  /* social icon color */
  background-color: #44abea;
}
.blue .social-ul a:hover,
.blue .social-ul a:focus {
  color: #fff;
  background-color: transparent;
}
/*==================================================
 * green
 #44ead7 = main color
 68, 234, 215 - fade color
==================================================*/
.green .color {
  /* main color */
  color: #44ead7;
}
.green a:hover,
.green a:focus {
  /* link hover, focus */
  color: #44ead7;
}
.green .btn-theme {
  /* button */
  color: #ffffff;
  background-color: #44ead7;
  border-color: #44ead7;
}
.green .btn-theme:active,
.green .btn-theme.active,
.green .btn-theme:focus,
.green .btn-theme.focus,
.green .btn-theme:hover {
  color: #ffffff;
  background-color: #2de7d2;
  border-color: #2de7d2;
}
.green .btn-theme.btn-outline1 {
  /* button */
  color: #44ead7;
  background-color: transparent;
  border-color: #44ead7;
}
.green .btn-theme.btn-outline1:active,
.green .btn-theme.btn-outline1.active,
.green .btn-theme.btn-outline1:focus,
.green .btn-theme.btn-outline1.focus,
.green .btn-theme.btn-outline1:hover {
  color: #ffffff;
  background-color: #44ead7;
  border-color: #44ead7;
}
.green .btn-theme.btn-outline2 {
  /* button */
  color: #ffffff;
  background-color: #44ead7;
  border-color: #44ead7;
}
.green .btn-theme.btn-outline2:active,
.green .btn-theme.btn-outline2.active,
.green .btn-theme.btn-outline2:focus,
.green .btn-theme.btn-outline2.focus,
.green .btn-theme.btn-outline2:hover {
  color: #44ead7;
  background-color: transparent;
  border-color: #44ead7;
}
.green .section-title:after {
  /* section title underline */
  background-color: #44ead7;
}
.green .progress {
  /* skill bar */
  background-color: rgba(68, 234, 215, 0.15);
  border-color: rgba(68, 234, 215, 0.75);
}
.green .progress-bar {
  /* skill bar */
  background-color: #44ead7;
}
.green .services-grid-content {
  /* services */
  background-color: rgba(68, 234, 215, 0.75);
}
.green .bfc-toggle-flat:checked + .bfc-toggle-btn {
  /* countdown toggle */
  border-color: #44ead7;
}
.green .bfc-toggle-flat:checked + .bfc-toggle-btn:after {
  /* countdown toggle */
  background-color: #44ead7;
}
.green .social-ul a {
  /* social icon color */
  background-color: #44ead7;
}
.green .social-ul a:hover,
.green .social-ul a:focus {
  color: #fff;
  background-color: transparent;
}
/*==================================================
 * purple
 #8744ea = main color
 135, 68, 234 - fade color
==================================================*/
.purple .color {
  /* main color */
  color: #8744ea;
}
.purple a:hover,
.purple a:focus {
  /* link hover, focus */
  color: #8744ea;
}
.purple .btn-theme {
  /* button */
  color: #ffffff;
  background-color: #8744ea;
  border-color: #8744ea;
}
.purple .btn-theme:active,
.purple .btn-theme.active,
.purple .btn-theme:focus,
.purple .btn-theme.focus,
.purple .btn-theme:hover {
  color: #ffffff;
  background-color: #782de7;
  border-color: #782de7;
}
.purple .btn-theme.btn-outline1 {
  /* button */
  color: #8744ea;
  background-color: transparent;
  border-color: #8744ea;
}
.purple .btn-theme.btn-outline1:active,
.purple .btn-theme.btn-outline1.active,
.purple .btn-theme.btn-outline1:focus,
.purple .btn-theme.btn-outline1.focus,
.purple .btn-theme.btn-outline1:hover {
  color: #ffffff;
  background-color: #8744ea;
  border-color: #8744ea;
}
.purple .btn-theme.btn-outline2 {
  /* button */
  color: #ffffff;
  background-color: #8744ea;
  border-color: #8744ea;
}
.purple .btn-theme.btn-outline2:active,
.purple .btn-theme.btn-outline2.active,
.purple .btn-theme.btn-outline2:focus,
.purple .btn-theme.btn-outline2.focus,
.purple .btn-theme.btn-outline2:hover {
  color: #8744ea;
  background-color: transparent;
  border-color: #8744ea;
}
.purple .section-title:after {
  /* section title underline */
  background-color: #8744ea;
}
.purple .progress {
  /* skill bar */
  background-color: rgba(135, 68, 234, 0.15);
  border-color: rgba(135, 68, 234, 0.75);
}
.purple .progress-bar {
  /* skill bar */
  background-color: #8744ea;
}
.purple .services-grid-content {
  /* services */
  background-color: rgba(135, 68, 234, 0.75);
}
.purple .bfc-toggle-flat:checked + .bfc-toggle-btn {
  /* countdown toggle */
  border-color: #8744ea;
}
.purple .bfc-toggle-flat:checked + .bfc-toggle-btn:after {
  /* countdown toggle */
  background-color: #8744ea;
}
.purple .social-ul a {
  /* social icon color */
  background-color: #8744ea;
}
.purple .social-ul a:hover,
.purple .social-ul a:focus {
  color: #fff;
  background-color: transparent;
}
/*==================================================
 * brown
 #9d7f48 = main color
 157, 127, 72 - fade color
==================================================*/
.brown .color {
  /* main color */
  color: #9d7f48;
}
.brown a:hover,
.brown a:focus {
  /* link hover, focus */
  color: #9d7f48;
}
.brown .btn-theme {
  /* button */
  color: #ffffff;
  background-color: #9d7f48;
  border-color: #9d7f48;
}
.brown .btn-theme:active,
.brown .btn-theme.active,
.brown .btn-theme:focus,
.brown .btn-theme.focus,
.brown .btn-theme:hover {
  color: #ffffff;
  background-color: #8c7140;
  border-color: #8c7140;
}
.brown .btn-theme.btn-outline1 {
  /* button */
  color: #9d7f48;
  background-color: transparent;
  border-color: #9d7f48;
}
.brown .btn-theme.btn-outline1:active,
.brown .btn-theme.btn-outline1.active,
.brown .btn-theme.btn-outline1:focus,
.brown .btn-theme.btn-outline1.focus,
.brown .btn-theme.btn-outline1:hover {
  color: #ffffff;
  background-color: #9d7f48;
  border-color: #9d7f48;
}
.brown .btn-theme.btn-outline2 {
  /* button */
  color: #ffffff;
  background-color: #9d7f48;
  border-color: #9d7f48;
}
.brown .btn-theme.btn-outline2:active,
.brown .btn-theme.btn-outline2.active,
.brown .btn-theme.btn-outline2:focus,
.brown .btn-theme.btn-outline2.focus,
.brown .btn-theme.btn-outline2:hover {
  color: #9d7f48;
  background-color: transparent;
  border-color: #9d7f48;
}
.brown .section-title:after {
  /* section title underline */
  background-color: #9d7f48;
}
.brown .progress {
  /* skill bar */
  background-color: rgba(157, 127, 72, 0.15);
  border-color: rgba(157, 127, 72, 0.75);
}
.brown .progress-bar {
  /* skill bar */
  background-color: #9d7f48;
}
.brown .services-grid-content {
  /* services */
  background-color: rgba(157, 127, 72, 0.75);
}
.brown .bfc-toggle-flat:checked + .bfc-toggle-btn {
  /* countdown toggle */
  border-color: #9d7f48;
}
.brown .bfc-toggle-flat:checked + .bfc-toggle-btn:after {
  /* countdown toggle */
  background-color: #9d7f48;
}
.brown .social-ul a {
  /* social icon color */
  background-color: #9d7f48;
}
.brown .social-ul a:hover,
.brown .social-ul a:focus {
  color: #fff;
  background-color: transparent;
}
/*==================================================
 * pink
 #ff438a = main color
 255, 67, 138 - fade color
==================================================*/
.pink .color {
  /* main color */
  color: #ff438a;
}
.pink a:hover,
.pink a:focus {
  /* link hover, focus */
  color: #ff438a;
}
.pink .btn-theme {
  /* button */
  color: #ffffff;
  background-color: #ff438a;
  border-color: #ff438a;
}
.pink .btn-theme:active,
.pink .btn-theme.active,
.pink .btn-theme:focus,
.pink .btn-theme.focus,
.pink .btn-theme:hover {
  color: #ffffff;
  background-color: #ff297a;
  border-color: #ff297a;
}
.pink .btn-theme.btn-outline1 {
  /* button */
  color: #ff438a;
  background-color: transparent;
  border-color: #ff438a;
}
.pink .btn-theme.btn-outline1:active,
.pink .btn-theme.btn-outline1.active,
.pink .btn-theme.btn-outline1:focus,
.pink .btn-theme.btn-outline1.focus,
.pink .btn-theme.btn-outline1:hover {
  color: #ffffff;
  background-color: #ff438a;
  border-color: #ff438a;
}
.pink .btn-theme.btn-outline2 {
  /* button */
  color: #ffffff;
  background-color: #ff438a;
  border-color: #ff438a;
}
.pink .btn-theme.btn-outline2:active,
.pink .btn-theme.btn-outline2.active,
.pink .btn-theme.btn-outline2:focus,
.pink .btn-theme.btn-outline2.focus,
.pink .btn-theme.btn-outline2:hover {
  color: #ff438a;
  background-color: transparent;
  border-color: #ff438a;
}
.pink .section-title:after {
  /* section title underline */
  background-color: #ff438a;
}
.pink .progress {
  /* skill bar */
  background-color: rgba(255, 67, 138, 0.15);
  border-color: #ff297a;
}
.pink .progress-bar {
  /* skill bar */
  background-color: #ff438a;
}
.pink .services-grid-content {
  /* services */
  background-color: rgba(255, 67, 138, 0.75);
}
.pink .bfc-toggle-flat:checked + .bfc-toggle-btn {
  /* countdown toggle */
  border-color: #ff438a;
}
.pink .bfc-toggle-flat:checked + .bfc-toggle-btn:after {
  /* countdown toggle */
  background-color: #ff438a;
}
.pink .social-ul a {
  /* social icon color */
  background-color: #ff438a;
}
.pink .social-ul a:hover,
.pink .social-ul a:focus {
  color: #fff;
  background-color: transparent;
}